{% extends 'layout.html' %}

{% block body %}
    <h1>About Us</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi cum commodi suscipit ullam quisquam excepturi. Expedita corrupti qui nesciunt provident est ipsam, nisi fugiat recusandae deleniti labore nihil accusamus. Ducimus dolorum itaque saepe illo! Nam eveniet repudiandae quis est, quo suscipit minima cum quod laborum consequuntur numquam mollitia eaque sed sint itaque inventore fuga dicta nihil nesciunt. Assumenda illum sed error, hic necessitatibus nemo incidunt doloribus dicta facilis! Placeat, assumenda.</p>
{% endblock %}